In [ ]:
#!pip install sqlalchemy==1.3.9
#!pip install ipython-sql
#!pip install ipython-sql prettytable
%load_ext sql
import csv, sqlite3
import prettytable
prettytable.DEFAULT = 'DEFAULT'

con = sqlite3.connect("my_data1.db")
cur = con.cursor()
#!pip install -q pandas
%sql sqlite:///my_data1.db
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

In [6]:
df

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,2010-06-04,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,2010-12-08,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,2012-05-22,7:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,2012-10-08,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,2013-03-01,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt
...,...,...,...,...,...,...,...,...,...,...
96,2020-11-05,23:24:23,F9 B5B1062.1,CCAFS SLC-40,"GPS III-04 , Crew-1",4311,MEO,USSF,Success,Success
97,2020-11-16,0:27:00,F9 B5B1061.1,KSC LC-39A,"Crew-1, Sentinel-6 Michael Freilich",12500,LEO (ISS),NASA (CCP),Success,Success
98,2020-11-21,17:17:08,F9 B5B1063.1,VAFB SLC-4E,"Sentinel-6 Michael Freilich, Starlink 15 v1.0",1192,LEO,NASA / NOAA / ESA / EUMETSAT,Success,Success
99,2020-11-25,2:13:00,F9 B5 B1049.7,CCAFS SLC-40,"Starlink 15 v1.0, SpaceX CRS-21",15600,LEO,SpaceX,Success,Success
100,2020-12-06,16:17:08,F9 B5 B1058.4,KSC LC-39A,SpaceX CRS-21,2972,LEO (ISS),NASA (CRS),Success,Success

In [13]:
import pandas as pd

# Charger les donnÃ©es depuis un fichier CSV ou un DataFrame existant

# Question 1: Nombre de lancements Ã  partir du CCAFS SLC 40
ccafs_slc40_launches = df[df['Launch_Site'].str.contains("CCAFS SLC-40", na=False)]
nbr_lancements_ccafs = len(ccafs_slc40_launches)
print("Nombre de lancements Ã  partir du CCAFS SLC 40:", nbr_lancements_ccafs)

# Question 2: Taux de rÃ©ussite
total_launches = len(df)
successful_launches = df[df['Mission_Outcome'] == "SuccÃ¨s"]
taux_reussite = (len(successful_launches) / total_launches) * 100
print("Taux de rÃ©ussite:", taux_reussite, "%")

# Question 3: Nombre de lancements vers l'orbite gÃ©osynchrone
gto_launches = df[df['Orbit'].str.contains("GTO", na=False)]
nbr_geo_orbit = len(gto_launches)
print("Nombre de lancements vers l'orbite gÃ©osynchrone:", nbr_geo_orbit)

# Question 4: Nombre de missions ayant atterri avec succÃ¨s sur un vaisseau drone
drone_landings = df[df['Landing_Outcome'].str.contains("SuccÃ¨s", na=False)]
nbr_drone_landings = len(drone_landings)
print("Nombre de missions atterries avec succÃ¨s sur un vaisseau drone:", nbr_drone_landings)

Nombre de lancements Ã  partir du CCAFS SLC 40: 34
Taux de rÃ©ussite: 0.0 %
Nombre de lancements vers l'orbite gÃ©osynchrone: 30
Nombre de missions atterries avec succÃ¨s sur un vaisseau drone: 0

In [12]:
print(df.columns)

Index(['Date', 'Time (UTC)', 'Booster_Version', 'Launch_Site', 'Payload',
       'PAYLOAD_MASS__KG_', 'Orbit', 'Customer', 'Mission_Outcome',
       'Landing_Outcome'],
      dtype='object')

In [14]:
df=pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/datasets/dataset_part_1.csv")
df.head(10)

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude
0,1,2010-06-04,Falcon 9,6104.959412,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0003,-80.577366,28.561857
1,2,2012-05-22,Falcon 9,525.000000,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0005,-80.577366,28.561857
2,3,2013-03-01,Falcon 9,677.000000,ISS,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0007,-80.577366,28.561857
3,4,2013-09-29,Falcon 9,500.000000,PO,VAFB SLC 4E,False Ocean,1,False,False,False,NaN,1.0,0,B1003,-120.610829,34.632093
4,5,2013-12-03,Falcon 9,3170.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1004,-80.577366,28.561857
5,6,2014-01-06,Falcon 9,3325.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1005,-80.577366,28.561857
6,7,2014-04-18,Falcon 9,2296.000000,ISS,CCAFS SLC 40,True Ocean,1,False,False,True,NaN,1.0,0,B1006,-80.577366,28.561857
7,8,2014-07-14,Falcon 9,1316.000000,LEO,CCAFS SLC 40,True Ocean,1,False,False,True,NaN,1.0,0,B1007,-80.577366,28.561857
8,9,2014-08-05,Falcon 9,4535.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1008,-80.577366,28.561857
9,10,2014-09-07,Falcon 9,4428.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1011,-80.577366,28.561857

In [15]:
df.isnull().sum()/len(df)*100

FlightNumber       0.000000
Date               0.000000
BoosterVersion     0.000000
PayloadMass        0.000000
Orbit              0.000000
LaunchSite         0.000000
Outcome            0.000000
Flights            0.000000
GridFins           0.000000
Reused             0.000000
Legs               0.000000
LandingPad        28.888889
Block              0.000000
ReusedCount        0.000000
Serial             0.000000
Longitude          0.000000
Latitude           0.000000
dtype: float64

In [16]:
df.dtypes

FlightNumber        int64
Date               object
BoosterVersion     object
PayloadMass       float64
Orbit              object
LaunchSite         object
Outcome            object
Flights             int64
GridFins             bool
Reused               bool
Legs                 bool
LandingPad         object
Block             float64
ReusedCount         int64
Serial             object
Longitude         float64
Latitude          float64
dtype: object

In [17]:
import pandas as pd
import numpy as np

# Charger les donnÃ©es
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/datasets/dataset_part_1.csv")

# TÃ‚CHE 1 : Calculer le nombre de lancements sur chaque site
launch_counts = df['LaunchSite'].value_counts()
print("Nombre de lancements par site :")
print(launch_counts)

# DÃ©finition des rÃ©sultats d'atterrissage
landing_outcomes = df['Outcome'].value_counts()
print("\nRÃ©sultats d'atterrissage :")
print(landing_outcomes)

# TÃ‚CHE 4 : CrÃ©ation d'une Ã©tiquette de rÃ©sultat dâ€™atterrissage
def classify_landing(outcome):
    if outcome in ['True Ocean', 'True RTLS', 'True ASDS']:
        return 'Success'
    else:
        return 'Failure'

# Ajouter une nouvelle colonne avec l'Ã©tiquette de rÃ©sultat d'atterrissage
df['LandingLabel'] = df['Outcome'].apply(classify_landing)

# Afficher les 10 premiÃ¨res lignes avec la nouvelle colonne
print("\nAperÃ§u des donnÃ©es avec l'Ã©tiquette d'atterrissage :")
print(df[['LaunchSite', 'Outcome', 'LandingLabel']].head(10))

Nombre de lancements par site :
CCAFS SLC 40    55
KSC LC 39A      22
VAFB SLC 4E     13
Name: LaunchSite, dtype: int64

RÃ©sultats d'atterrissage :
True ASDS      41
None None      19
True RTLS      14
False ASDS      6
True Ocean      5
False Ocean     2
None ASDS       2
False RTLS      1
Name: Outcome, dtype: int64

AperÃ§u des donnÃ©es avec l'Ã©tiquette d'atterrissage :
     LaunchSite      Outcome LandingLabel
0  CCAFS SLC 40    None None      Failure
1  CCAFS SLC 40    None None      Failure
2  CCAFS SLC 40    None None      Failure
3   VAFB SLC 4E  False Ocean      Failure
4  CCAFS SLC 40    None None      Failure
5  CCAFS SLC 40    None None      Failure
6  CCAFS SLC 40   True Ocean      Success
7  CCAFS SLC 40   True Ocean      Success
8  CCAFS SLC 40    None None      Failure
9  CCAFS SLC 40    None None      Failure